/*-----------------------------RESET---------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1;
  background:#fff; }

ol, ul {
  list-style: none; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*---------------------BODY-----------------------------------------*/
  body {
 /* background-color: #ebebeb;*/
  /*padding-top: 2em;*/
}
/*-------------------------HEADER------------------------------------*/
p span {
  font-style: italic;
}

.divide {
border-bottom: 1px solid;
clear: both;
}

.dear {
  color: #252525;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 1.5em;
  margin-top: 1.25em;
  margin-bottom: 1em;
}

.banner img {
  width: 100%;
  display: block;
  margin: auto;
  z-index: 1;
}

.bannerText {
  color: white;
  margin: 24%;
  position: absolute;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Bitter', 'Georgia', serif;
  z-index: 100;
}

.wrapper {
  width: 75%;
  margin: auto;
  margin-top: 3em;
}

#hello {
  text-align: left;
  width: 100%;
  float: left;
  margin-right: 38px;
 }

#name {
  color: #6a2d32;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 13px;
  margin-left: 18px;
  line-height: 2em;
}

.quote {
  width: 35%;
  position: relative;
}

p {
  color: #3a2d3c;
  font-family: 'Bitter', 'Georgia', serif;
  font-size: 1em;
  text-align: justify;
  margin: 1em 0;
  line-height: 1.5em; 
  display: block;
}

p.intro:first-letter {
font-size: 150%;
}

p.intro:first-line {
font-weight: bold;
}

h1 {
  color:#32bebb;
  font-size: 5em;
  font-family: 'Pacifico', cursive;
}

h2 {
  font-size: 1.25em;
  line-height: 1.2em;
}

h2.title {
  color: #252525;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  letter-spacing: .15em;
}

h2.title2 {
  width: 100%;
  text-align: center;
  color: #252525;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-bottom: .7em;
  letter-spacing: .15em;
}

.imgContainer img {
  width: 30%;
  height: auto;
  display: inline-block;
  margin: 2em;
}

.architectureText {
  width: 100%;
  float: left;
  margin-bottom: 1.5em;
}

.designText {
  margin-bottom: 2em;
}

.container img {
  width: 20%;
  height: auto;
  float: left;
  margin-right: 4em;
}

.developer-image {
  clear: left;
  padding-top: 1.75em;
}

.fts-image {
  clear: left;
  padding-top: 2.5em;
}

.hpham-image {
  clear: left;
  padding-top: 1.75em;
}

.text {
  width: 71%;
  display: inline-block;
}

.sectionWrapper {
  margin: 3em;
}

h2.sincerely {
  font-size: 2em;
  color: #252525;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin-bottom: 1em;
  margin-top: 2em;
}
 
.signature {
  /*color: ##252525;*/
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 3em;
}

.footerContainer {
  margin-top: 2.5em;
  text-align: center;
}

.footerContainer li {
  display: inline-block;
  padding-right: 1em;
  padding-bottom: 1em;
}

.footerContainer a {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  /*font-weight: bold;*/
  text-decoration: none;
  color: #252525;
 /* line-height: 1.63em;*/
  }

 footer {
  background-color: #626262;
 } 
/*-------------------------MEDIA-QUERIES------------------------------------*/

@media only screen and (max-width: 1082px) {

  h1 {
    font-size: 4em;
   }

  h2 {
    font-size: 1em;
  }

  p {
    font-size: .8em; 
    line-height: 1.6em; 
  }

  .text {
  width: 69%;
  }
}

@media only screen and (max-width: 920px) {

.text {
  width: 100%;
  }

.container img {
  display: none;
  }

.sectionWrapper {
  margin-left: 0;
  margin-right: 0;
  }
}

@media only screen and (min-width: 1400px) {
  .container img {
    width: 16%;
    height: auto;
  }
}

@media only screen and (max-width: 560px) {

  .imgContainer img {
    display: none;
  }

  .quote {
    width: 100%;
    display: block;
    float: left;
  }

  h2 {
    font-size: .9em;
  }

  h2.title2 {
    margin-top: 2em;
  }

  .footerContainer {
    font-size: .8em;
  }

  h2.sincerely {
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 560px) {
  .signature {
    font-size: 2em;
  }

  .bannerText {
    font-size: 1.25em;
  }

  .dear {
    font-size: 1.25em;
  }

}







